
@font-face {
font-family: "IBM-Sans";
src: url("fonts/IBMPlexSans-Medium.ttf") format("truetype");
}
@font-face {
font-family: "remaining";
src: url("fonts/Lato-Regular.ttf") format("truetype");
}
h1 {
  font-family: "IBM-Sans", sans-serif;
  color: #e2005a;
}
h3 {
  font-family: "IBM-Sans", sans-serif;
  color: #e2005a;
}
*:not(h1):not(h3){
  font-family: "remaining", sans-serif;
}

.Graph {
  font-family: "Roboto", sans-serif;
}
